* {
  margin: 0;
  padding: 0;
}

/* INDEX */
.navSecondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-color: black;
  padding: 5px;
}

.navSecondary .ulSecondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navSecondary .ulSecondary .liSecondary a {
  color: #ffffff;
  margin: 15px;
  font-size: 1rem;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 3px;
}

.navSecondary .aSecondary1 {
  border-right: white solid;
  padding-right: 40px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #000;
  padding: 5px;
  padding-top: 0px;
}

.header .logo {
  position: relative;
  height: 80px;
  padding: 0px;
  margin-left: -150px;
  bottom: 30px;
}

.header .buttoms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 1px;
}

.header .ulMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .ulMain .liMain .aMain:hover {
  color: #999;
}

.header .ulSecondary .liSecondary a:hover {
  color: #999;
}

.header .ulMain .liMain .aMain {
  color: #ffffff;
  margin: 50px;
  font-size: 2rem;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
}

body {
  background-color: #101010;
}

.slider {
  width: 90%;
  margin: auto;
  overflow: hidden;
  margin-bottom: -100px;
}

.slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400%;
  -webkit-animation: transition 20s infinite;
          animation: transition 20s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.slider dl, .slider ol, .slider ul {
  margin-bottom: 0;
}

.slider ol, .slider ul {
  padding-left: 0rem;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  padding-bottom: 85px;
  height: 90%;
}

@-webkit-keyframes transition {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

@keyframes transition {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

.site_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #000;
  padding: 50px;
  padding-bottom: 40px;
}

.site_footer .form {
  color: #ffffff;
  font-size: 1.2rem;
  font-family: 'Bebas Neue', cursive;
}

.site_footer .h2Footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 1500;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.site_footer p {
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  color: #acacac;
  margin: 4px;
}

.site_footer .email {
  border-radius: 10px;
  font-size: 1.1rem;
  text-align: center;
  margin-left: 12px;
  padding-right: 10px;
  text-indent: -30px;
}

.site_footer .btn {
  margin-bottom: -5px;
  border-radius: 10px;
}

.site_footer .media {
  padding: 10px;
}

.site_footer .h2Media {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.site_footer .imgMedia {
  height: 30px;
  padding-left: 6px;
}

.site_footer hr:not([size]) {
  height: auto;
}

.site_footer hr {
  margin: 0;
  padding: 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

.site_footer hr {
  display: block;
  unicode-bidi: -webkit-isolate;
  unicode-bidi: isolate;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-start: none;
          margin-inline-start: none;
  -webkit-margin-end: none;
          margin-inline-end: none;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.site_footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
}

.site_footer .bi {
  color: #cecece;
}

.tail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #101010;
  color: #999;
  font-size: .8125rem;
  line-height: 1.5rem;
}

.tail span a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  word-spacing: 0.25em;
}

/* GUITARS & BASSES */
.precontent {
  background: #101010;
  padding: 80px;
}

.precontent .text-product h2 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
}

.precontent .imglogo {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 65%;
}

.precontent .text-h1 h1 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  padding: 32px;
}

.precontent .hrseparate {
  opacity: 50%;
  color: white;
}

.guitarcontainer {
  background-color: #101010;
  padding: 80px;
  padding-left: 200px;
}

.guitarcontainer #guitarsSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 25px;
}

.guitarcontainer .guitarShowcase img {
  width: 175px;
  height: 521px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  position: relative;
}

.guitarcontainer .guitarShowcase img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.guitarcontainer .guitarShowcase h2 {
  padding-top: 35px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  text-decoration: none;
}

.guitarcontainer .guitarShowcase h3 {
  color: #ffffff;
  font-family: 'Bebas Neue', cursirve;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
}

/* ACCESSORIES */
.accessoriescontainer {
  background-color: #101010;
  padding: 80px;
  padding-left: 200px;
}

.accessoriescontainer #accessoriesSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 25px;
}

.accessoriescontainer .guitarShowcase img {
  width: 175px;
  height: 521px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  position: relative;
}

.accessoriescontainer .guitarShowcase img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.accessoriescontainer .guitarShowcase h2 {
  padding-top: 35px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  text-decoration: none;
}

.accessoriescontainer .guitarShowcase h3 {
  color: #ffffff;
  font-family: 'Bebas Neue', cursirve;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
}

/* ARTISTS */
#artists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  margin: 5px;
}

#artists .artistimg {
  width: 75%;
  border-color: #ffffff;
  border-style: ridge;
  opacity: 60%;
  height: 100%;
}

#artists .artisttext {
  padding: 25px;
  margin: 50px;
}

#artists .h2artist {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#artists .partist {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 2;
}

#artists .hidden {
  position: absolute;
  opacity: 0;
}

#artists .hidden:hover {
  opacity: 100%;
}

#artists .artisttext:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#artists2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  margin: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#artists2 .artistimg {
  width: 75%;
  border-color: #ffffff;
  border-style: ridge;
  opacity: 60%;
  height: 100%;
}

#artists2 .artisttext {
  padding: 25px;
  margin: 50px;
}

#artists2 .h2artist {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#artists2 .partist {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 2;
}

#artists2 .hidden {
  position: absolute;
  opacity: 0;
}

#artists2 .hidden:hover {
  opacity: 100%;
}

#artists2 .artisttext:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/* FORM */
#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-top: -70px;
}

#form .formcontact {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background-color: #e6e6e6;
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#form .headerform {
  width: 100%;
  background-color: black;
}

#form .headerform span {
  font-size: 100px;
  display: block;
  text-align: center;
  padding: 2.5rem;
}

#form .contact {
  width: 100%;
  padding: 0.8rem;
  overflow: hidden;
  color: #030303;
}

#form .contact label, #form .contact input, #form .contact textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

#form .contact input:not([type='submit']), #form .contact textarea {
  border: none;
  border-bottom: 2px solid black;
  background-color: #e6e6e6;
  margin-bottom: 10px;
  font-size: 20px;
  outline: none;
}

#form .contact textarea {
  min-height: 100px;
}

#form input[type='submit'] {
  padding: 10px;
  border: none;
  background-color: #b6b6b6;
  cursor: pointer;
}

/* ABOUT US */
.aboutuscontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutuscontainer .imgcontainer img {
  height: 600px;
  width: 1600px;
}

.aboutuscontainer2 {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  max-width: 1480px;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  position: relative;
  width: 100%;
  margin-bottom: 170px;
}

.aboutuscontainer2 .imglogo {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 65%;
}

.aboutuscontainer2 .aboutuscontent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutuscontainer2 .aboutuscontent h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: white;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  word-spacing: 0.25em;
  margin-top: 60px;
  text-align: center;
}

.aboutuscontainer2 .quote {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
  text-decoration: none;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  line-height: 1.4;
}

.aboutuscontainer2 .ownerlogo img {
  margin-left: -91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 600px;
  height: 500px;
}

.aboutuscontainer2 .owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: 170px;
}

.aboutuscontainer2 .container .owner h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: white;
  font-weight: 400;
  text-decoration: none;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  margin-left: 180px;
}

.aboutuscontainer2 .greetings {
  padding: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #bebebe;
  font-weight: 400;
  text-decoration: none;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 184px;
          margin-inline-start: 184px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  text-transform: uppercase;
}

#bar {
  display: none;
}

.icon-menu {
  display: none;
}

/* Responsive mobile  */
@media (max-width: 767px) {
  /* INDEX */
  .navSecondary {
    width: 100%;
    height: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #bar {
    width: 100%;
    position: fixed;
    background: white;
    z-index: 1000;
    display: none;
  }
  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    font-size: 42px;
    margin-top: 40px;
    left: 45px;
    position: absolute;
    z-index: 100000;
    opacity: 75%;
  }
  .header {
    padding-bottom: 25px;
  }
  .header .logo {
    top: 8px;
    left: 210px;
  }
  .header .buttoms {
    display: none;
  }
  .slider {
    width: 100%;
    height: auto;
    padding-bottom: 75px;
  }
  .slider img {
    height: 450px;
  }
  .site_footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
  }
  .site_footer .h2Footer {
    padding-left: 60px;
    margin-top: 18px;
  }
  .site_footer p {
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    color: #acacac;
    margin: 10px;
    padding-left: 25px;
  }
  .site_footer .email {
    border-radius: 10px;
    font-size: 0.9rem;
    text-align: center;
    margin-left: 5px;
    padding-right: 115px;
    text-indent: -30px;
  }
  .site_footer .btn {
    margin-bottom: -5px;
    border-radius: 10px;
    width: 40px;
    font-size: 10px;
    text-align: center;
  }
  .tail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #101010;
    color: #999;
    font-size: 0.5rem;
    margin-left: 5px;
    /* GUITARS & BASSES */
  }
  .tail span a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.4rem;
    font-weight: 100;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 0.25em;
  }
  .precontent {
    background: #101010;
    padding: 40px;
    margin-left: 10px;
  }
  .precontent .imglogo {
    padding: 10px;
  }
  .precontent .text-product, .precontent .imglogo {
    width: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 150px;
  }
  .precontent .text-h1 h1 {
    font-size: 1.5rem;
    padding: 28px;
  }
  .guitarcontainer {
    padding-left: 145px;
  }
  .guitarcontainer #guitarsSection {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 25px;
  }
  .guitarcontainer #guitarsSection .guitarShowcase img {
    width: 150px;
    height: 490px;
  }
  /* ACCESSORIES */
  .accessoriescontainer {
    margin-top: -100px;
    padding: 0px;
    padding-left: 135px;
  }
  .accessoriescontainer #accessoriesSection {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px;
  }
  /* ARTISTS */
  #artists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    margin: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #artists .artistimg {
    position: absolute;
    width: auto;
    height: auto;
    opacity: 60%;
  }
  #artists .artistimg img {
    width: 400px;
    height: 400px;
  }
  #artists .hidden {
    width: 400px;
    height: 400px;
  }
  #artists .artisttext {
    padding: 25px;
    margin: 50px;
  }
  #artists .h2artist {
    text-align: center;
  }
  #artists .partist {
    padding-top: 300px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 2;
    text-align: left;
  }
  #artists2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    margin: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #artists2 .artistimg {
    position: absolute;
    width: auto;
    height: auto;
    opacity: 60%;
  }
  #artists2 .artistimg img {
    width: 400px;
    height: 400px;
  }
  #artists2 .hidden {
    width: 400px;
    height: 400px;
  }
  #artists2 .artisttext {
    padding: 25px;
    margin: 50px;
  }
  #artists2 .h2artist {
    text-align: center;
  }
  #artists2 .partist {
    padding-top: 300px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 2;
    text-align: left;
  }
  /* ABOUT US */
  .aboutuscontainer .imgcontainer img {
    height: 500px;
    width: 550px;
  }
  .aboutuscontainer2 .aboutuscontent .container h1 {
    word-spacing: 0.20em;
    font-size: 2.5rem;
  }
  .aboutuscontainer2 .aboutuscontent .container .quote {
    -webkit-margin-end: 25px;
            margin-inline-end: 25px;
    line-height: 1.4;
  }
  .aboutuscontainer2 .aboutuscontent .container .owner {
    margin-bottom: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutuscontainer2 .aboutuscontent .container .owner h2 {
    margin-left: 1px;
  }
  .aboutuscontainer2 .aboutuscontent .container .owner .greetings {
    padding: 0px;
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
    -webkit-margin-end: 0px;
            margin-inline-end: 0px;
  }
  /* HELP & SUPPORT */
  .helpsupport {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 40px;
    margin-right: 25px;
  }
}

/* IPAD */
@media (min-width: 768px) and (max-width: 1024px) {
  /* INDEX */
  .header {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 5px;
    margin-top: -10px;
  }
  .header .logo {
    height: 60px;
    margin-left: 0px;
    bottom: 15px;
  }
  .header .buttoms {
    margin-top: 1px;
  }
  .header .ulMain .liMain .aMain {
    margin: 15px;
    font-size: 1.8rem;
  }
  .slider {
    height: 730px;
  }
  .slider ul {
    height: 730px;
  }
  .form {
    font-size: 0.6rem;
  }
  .form .h2Footer {
    letter-spacing: 1px;
  }
  .form p {
    margin: 2px;
    padding-bottom: 10px;
  }
  .form .email {
    margin-left: 0px;
    padding-right: 30px;
    text-indent: -30px;
  }
  .form .btn {
    margin-bottom: 0px;
    border-radius: 10px;
  }
  .media .h2Media {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
  }
  .media .icons {
    padding-left: 5px;
  }
  /* GUITAR & BASSES */
  .precontent {
    background: #101010;
    padding: 40px;
    margin-left: 10px;
  }
  .precontent .text-product, .precontent .imglogo {
    width: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 300px;
  }
  .guitarcontainer {
    padding-left: 100px;
  }
  .guitarcontainer #guitarSection {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 50px;
  }
  .guitarcontainer .guitarShowcase img {
    width: 110px;
    height: 440px;
  }
  /* ACCESSORIES */
  .accessoriescontainer {
    margin-top: -100px;
    padding: 0px;
    padding-left: 40px;
  }
  .accessoriescontainer #accessoriesSection {
    gap: 50px;
    padding-bottom: 100px;
  }
  .accessoriescontainer .guitarShowcase img {
    width: 110px;
    height: 440px;
  }
  /* ARTITS */
  #artists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    margin: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #artists .artistimg {
    position: relative;
    width: auto;
    height: auto;
    opacity: 60%;
  }
  #artists .artistimg img {
    width: 400px;
    height: 400px;
  }
  #artists .hidden {
    width: 400px;
    height: 400px;
  }
  #artists .artisttext {
    padding: 25px;
    margin: 50px;
  }
  #artists .h2artist {
    text-align: center;
    margin-top: -50px;
  }
  #artists .partist {
    padding-top: 12px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 2;
    text-align: left;
  }
  #artists2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    margin: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #artists2 .artistimg {
    position: relative;
    width: auto;
    height: auto;
    opacity: 60%;
  }
  #artists2 .artistimg img {
    width: 400px;
    height: 400px;
  }
  #artists2 .hidden {
    width: 400px;
    height: 400px;
  }
  #artists2 .artisttext {
    padding: 25px;
    margin: 50px;
  }
  #artists2 .h2artist {
    text-align: center;
    margin-top: -50px;
  }
  #artists2 .partist {
    padding-top: 12px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 2;
    text-align: left;
  }
  /* ABOUT US */
  .aboutuscontainer .imgcontainer img {
    height: 500px;
    width: 768px;
  }
  .aboutuscontainer2 .aboutuscontent .aboutuscontent h1 {
    word-spacing: 0.20em;
    font-size: 2.5rem;
  }
  .aboutuscontainer2 .aboutuscontent .quote {
    -webkit-margin-end: 25px;
            margin-inline-end: 25px;
    line-height: 1.4;
  }
  .aboutuscontainer2 .aboutuscontent .owner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
  }
  .aboutuscontainer2 .aboutuscontent .ownerlogo {
    padding-left: 130px;
  }
  .aboutuscontainer2 .aboutuscontent .container .owner h2 {
    margin-left: 1px;
    padding-left: 180px;
  }
  .aboutuscontainer2 .aboutuscontent .greetings {
    padding: 0px;
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
    -webkit-margin-end: 0px;
            margin-inline-end: 0px;
  }
  /* HELP & SUPPORT */
  .helpsupport {
    padding-bottom: 40px;
    margin-left: 0px;
  }
}
/*# sourceMappingURL=main.css.map */