* {
    margin: 0;
    padding: 0;
}

.navSecondary {
  display: flex;
  justify-content: end;
  background-color: black;
  padding: 5px;
}

.ulSecondary {
  display: flex;
  list-style: none;
}

.ulSecondary .liSecondary a {
  color: #ffffff;
  margin: 15px;
  font-size: 1rem;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 3px;
}

.aSecondary1 {
  border-right: white solid;
  padding-right: 40px;
  
}

.header {
  display: flex;
  justify-content: space-around;
  background: #000;
  padding: 5px; 
}

.logo {
  position: relative;
  height: 80px;
  padding: 0px;
  margin-left: -200px;
  bottom: 30px;
}

.buttoms {
  display: flex;
  align-items: flex-end;
  margin-top: 2px;
}

.ulMain {
  display: flex;
  list-style: none;
}

.ulMain .liMain .aMain:hover {
  color: #999;
}

.ulSecondary .liSecondary a:hover {
  color: #999;
}

.ulMain .liMain .aMain {  
  color: #ffffff;
  margin: 50px;
  font-size: 2rem;
  text-decoration: none;
 font-family: 'Bebas Neue', cursive;
}

body {
  background-color: #101010;
}

.slider {
  width: 90%;
  margin: auto;
  overflow: hidden;
  margin-bottom: -100px;
}

.slider ul {
  display: flex;
  width: 400%;
animation: transition 20s infinite;
animation-direction: alternate;
}

dl, ol, ul { 
  margin-bottom: 0;
}

ol, ul {
  padding-left: 0rem;
}
.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  padding-bottom: 85px;
  height: 90%;
}

@keyframes transition {
  0% { margin-left: 0; }
  20% { margin-left: 0; }
  25% { margin-left: -100%;}
  45% { margin-left: -100%;}
  50% { margin-left: -200%;}
  70% { margin-left: -200%;}
  75% { margin-left: -300%;}
  100% { margin-left: -300%;}
}


.site_footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #000;
  padding: 50px;
  padding-bottom: 40px;
}

.form {
  color: #ffffff;
  font-size: 1.2rem;
  font-family: 'Bebas Neue', cursive;
}

.h2Footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 1500;
  letter-spacing: 3px;
  text-transform: uppercase;
}

p {
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  color: rgb(172, 172, 172);
  margin: 4px;
  
}
.email {
  border-radius: 10px;
  font-size: 1.1rem;
  text-align: center;
  margin-left: 12px;
  padding-right: 10px;
  text-indent: -30px;
}
.btn {
  margin-bottom: -5px;
  border-radius: 10px;
}

.media {
  padding: 10px;
}

.h2Media {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.imgMedia {
  height: 30px;
  padding-left: 6px;
}

.hrseparate {
  opacity: 50%;
}

hr:not([size]) {
  height: auto;
}

hr {
  margin: 0;
  padding: 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
    
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: none;
    margin-inline-end: none;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.icons {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.bi {
  color: rgb(206, 206, 206)
}

.tail {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #101010;
  color: #999;
  font-size: .8125rem;
  line-height: 1.5rem; 
}
span a {
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  word-spacing: 0.25em;
}

/* GUITARS y BASSES */
.precontent {
  background: #101010;
  padding: 80px;
  
}
.text-product h2 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
}

.imglogo {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 65%;
}

.text-h1 h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  padding: 32px;
}

.guitarcontainer {
  background-color: #101010;
  padding: 80px;
  padding-left: 200px;
}

#guitarsSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px;  
}

#accessoriesSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 25px;  
}


.guitarShowcase img {
  width: 175px;
  height: 521px;
  transition: all 300ms;
  position: relative;
}

.guitarShowcase img:hover {
  transform: scale(1.15);
}

.guitarShowcase h2 {
  padding-top: 35px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  text-decoration: none;
}

.guitarShowcase h3 {
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
}

/* ARTISTS */

#artists {
  display: flex;
  padding: 30px;
  margin: 5px;
}

#artists2 {
  display: flex;
  padding: 30px;
  margin: 5px;
  flex-direction: row-reverse;
}

.artistimg {
  width: 75%;
  border-color: white;
  border-style: ridge;
  opacity: 60%;
  height: 100%;
}

.artisttext {
  padding: 25px;
  margin: 50px;
}

.hidden {
  position: absolute;
  opacity: 0;
}

.hidden:hover {
  opacity: 100%;
}

.artisttext:hover {
  transform: scale(1.05);
}

.h2artist {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.partist {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 2;
}

/* FORM */
#form {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: -70px;
}
.formcontact {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background-color: rgb(230, 230, 230);
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.headerform {
  width: 100%;
  background-color: black;
}

.headerform span {
  font-size: 100px;
  display: block;
  text-align: center;
  padding: 2.5rem;
}

.contact {
  width: 100%;
  padding: 0.8rem;
  overflow: hidden;
  color: rgb(3, 3, 3);
}

.contact label, .contact input, .contact textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.contact input:not([type='submit']), .contact textarea {
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: rgb(230, 230, 230);
  margin-bottom: 10px;
  font-size: 20px;
  outline: none;
}

.contact textarea {
  min-height: 100px;
}

input[type='submit'] {
  padding: 10px;
  border: none;
  background-color: rgb(182, 182, 182);
  cursor: pointer;
}
  
