$greyColor: #999;
$lightgreyColor: rgb(172, 172, 172);
$whiteColor: #ffffff;
$blackColor: #000;
$bgColor: #101010;
$font1: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font2: 'Bebas Neue', cursive;
$font3: 'Montserrat', sans-serif;